@tailwind base;
@tailwind components;
@tailwind utilities;


.status-container {
  position: relative;
}

.status-container .status-tooltip {
  display: none;
}

.status-container:hover .status-tooltip {
  display: block;
  opacity: 1;
}


.capitalize-first-letter::first-letter {
  text-transform: uppercase;
}

.capitalize-first-letter {
  text-transform: lowercase;
}


.pagination {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.page-item {
  margin: 0 0.25rem;
}

.page-link {
  padding: 0.5rem 0.75rem;
  border: 1px solid #d1d5db; /* Gray-300 */
  border-radius: 0.25rem;
  cursor: pointer;
  color: #000; /* Black */
}

.page-link:hover {
  background-color: #f3f4f6; /* Gray-100 */
}

.active .page-link {
  color: #db2777; /* Pink-600 */
  border-color: #db2777; /* Pink-600 */
}
